/* ****************** */
/* GENERAL DEFINTIONS */
/* ****************** */

html {
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  color: #3f3f3f;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.mobile {
  display: none;
}

/* ***************** */
/* HEADER DEFINTIONS */
/* ***************** */

/* Navigation */
header {
  background-color: white;
  position: fixed;
  z-index: 5;
  width: 100%;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

  header nav.desktop {
    display: flex;
    font-size: 1.25rem;
  }

    header nav.desktop .nav_item {
      margin-right: 16px;
    }

      header nav.desktop .nav_item:hover {
        text-decoration: underline;
        cursor: pointer;
      }

      header nav.desktop .nav_item:last-child {
        margin-right: 24px;
      }

.container .logo {
  font-size: 1.5rem;
  margin-left: 24px;
  display: flex;
  align-items: center;
}
.container   .logo img {
    height: 3rem;
  }

  .container .logo .logo_light_grey {
    color: #B1B1AF;
  }

  .container .logo .logo_dark_grey {
    font-weight: bold;
  }

/* ****************** */
/* CONTENT DEFINTIONS */
/* ****************** */

.left_box {
  width: 60%;
  margin: 2rem 1.5rem;
}

.right_box {
  width: 35%;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}

/* Banner Section */

#banner {
  top: 64px;
  position: relative;
  background: #DCDCDC;
}

  #banner .container {
    display: flex;
    align-items: center;
  }

    #banner img {
      width: 100%;
    }

.start_button {
  background-color: #3f3f3f;
  padding: 1.25rem 0;
  text-align: center;
  width: 90%;
  margin: 3rem auto;
  font-size: 1.5rem;
  color: white;
  transition: all 500ms ease-out;
}

  .start_button:hover {
    background-color: #303030;
    cursor: pointer;
    border-radius: 4px;
    color: #DCDCDC;
  }

/* Information Section */

#information {
  position: relative;
  top: 64px;
}

  #information .container {
    display: flex;
  }

  #information .left_box img {
    width: 100%;
    margin-bottom: 2rem;
  }

  #information .right_box {
    border-left: 1px solid #DCDCDC;
    padding-left: 1rem;
  }

  #information .box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #information .desktop {
    width: 35%;
  }

  #information .desktop img {
    width: 100%;
  }

  #information .news_text {
    width: 65%;
  }
