/* ****************** */
/* GENERAL DEFINTIONS */
/* ****************** */

html {
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  color: #3f3f3f;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* ***************** */
/* HEADER DEFINTIONS */
/* ***************** */


/* Navigation */
#navigation {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  background-color: white;
  height: 65px;
  width: 100%;
}

  #navigation nav {
    display: flex;
    font-size: 1.5rem;
  }

    #navigation nav .nav_item {
      margin-right: 16px;
    }

    #navigation nav .nav_item:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    #navigation nav .nav_item:last-child {
      margin-right: 24px;
    }

#logo {
  font-size: 2rem;
  margin-left: 24px;
  display: flex;
  align-items: center;
}
  #logo img {
    height: 4rem;
  }

  #logo .logo_light_grey {
    color: #B1B1AF;
  }

  #logo .logo_dark_grey {
    font-weight: bold;
  }

  /* Banner Box */

  .banner {
    position: relative;
    display: flex;
    align-items: center;
    top: 64px;
    background: #DCDCDC;
    padding: 2rem 0 2rem 1.5rem;
    width: 100%;
  }
    .banner img {
      width: 50%;
    }

  .banner_text {
    width: 32%;
    margin-left: 5rem;
  }

  .start_button {
    background-color: #3f3f3f;
    padding: 1.25rem 0;
    text-align: center;
    width: 75%;
    margin: 8rem auto;
    font-size: 1.75rem;
    color: white;
    transition: all 500ms ease-out;
  }

    .start_button:hover {
      background-color: #303030;
      cursor: pointer;
      border-radius: 4px;
    }
